<h1>Публикации</h1>
<div class="row">
  <div class="container">
    <div class="col-md-12">
      <% @posts.each do |post| %>
            <h3><%= link_to post.title, post %></h3>
            <p><%= truncate(post.body, length: 100, separator: ' ') { link_to "Читать далее", post } %></p>
      <% end %>
    </div>
  </div>
</div>

